.control {
  display: flex;
  width: 150px;
  justify-content: flex-end;
  padding: 8px 16px;
  border-radius: 16px;
  transition: background-color 150ms ease;
}

.itemContent {
  align-content: center;
  justify-content: space-between;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}
